
body{
  font-family: 'Antic', sans-serif;
  width: 100%;
  background-color: white;
}

a:hover {
  font-weight: bold; 
  cursor: pointer;
}


h1,h2,h3{
  font-family:'Amatic SC', sans-serif;
 
  
}

h1{
  font-size: 2.5em;
  color: #291717;
  margin-bottom: 15px;
}

h2{
  font-size: 2em;
  color:lightgray;
}

h3{
  font-size: 1.5em;
}

p,
ul{
  font-family: 'Advent Pro', sans-serif;
  color:#586480;
  list-style: none;
  padding:0;
}

.burger {
  display: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute; /* Positionnez le bouton de menu burger de façon absolue */
    top: 20px; /* Ajustez la position verticale selon vos besoins */
    right: 20px; /* Ajustez la position horizontale selon vos besoins */
    z-index: 1100;
}



.burger__ancres {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  right: 0;
  z-index: 1000;
  text-align: center;
  margin: 0px;
  padding:0;

}

.burger__ancres--last {
  border-bottom: 1px solid #2917173f;
}


.burger__ancres li a  {
  display: block;
  text-decoration: none;
  color: #291717;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2em;
  background-color: white;
  border: solid 4px white;
  padding: 20px;

 
}



.barres {
  width: 21px;
  height: 2px;
  background-color: #291717;
  display: block;
  transition: all 0.2s;
  margin-left:2px;
}

.barre-millieu {
  margin-top: 4px;
  margin-bottom: 4px;

}

.first{
  transform: rotate(45deg) translate(5px, 5px);
}

.second{
  opacity: 0;
}

.third{
  transform: rotate(-45deg) translate(4px, -4px);


}

.sticky__top{
  position: sticky;
  top: 0;
  margin-top: 2px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 80% 20%;
  background-color: white;
  z-index: 1000; 

}

.sticky__right{
  position: sticky;
  top: 5%;
  z-index: 1100; 

}


.nav__ancres{
  color: #291717;
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.5em;
  grid-column: 1/2;
  grid-row: 1/2;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  
}

.header__container{
  background-image:url('bureau-bureau-objets.jpg');
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  float: left;
  width: 85vw;
  height: 40vh;
  margin-bottom: 20px;
 
}

.header__container p{
  padding-left: 8%;
  padding-top: 10%;
}

.header__container h1{
  padding-left: 8%;

}


.header__name, .header__hello{
  color: white;
  text-shadow: #291717 3px 3px 4px;
  font-size: 4em;
  
}

.header__hello{
  font-family:'Amatic SC', sans-serif;
  font-size: 2.5em;
 
}

.right__nav{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid lightgray;
 
}

.right__photo {
  width: 100px ;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  margin-bottom: 5px;
 
}
.contact__in{
  padding: 0;
  margin-top: 0;

}
.contact__in img{
  width: 25px;
  
}

.right__name{
  font-size: 1em;
}



.contact__in,
.contact__download,
.contact__form,
.right__name{
  align-self: center;
  justify-self: center;
  margin: 10px 0;
}


.header__name, 
.right__name, 
.softSkills__list,
.contact__download,
.mailto,
.interest__names li{
  font-family: 'Capriola', sans-serif;

}

.header__title{
  font-family: 'Bubbler One', sans-serif;
  
}

.container__experience{
  position: relative;
  padding-top: 100px;
}


#container__parcours,
#container__skills,
#container__introduction,
#contact__container{
  margin-right: 15%;
  margin-left: 5%;
  margin-top: 3%;
}

.softSkills__container{
  display: flex;
  justify-content: flex-start;
}

.softSkills__list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding-left: 0;
  
}

.introduction__text{
  text-align: justify;
  padding-right: 5px;
  line-height:30px;
  
}


.introduction__photo{
  display: none;
  margin: auto;
  width: 150px;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
 

}

.interest__lists{
  display: flex;
  flex-direction: column;
}

.interest__names, .interest__pictures{
  display: flex; 
}
.interest__names li{
  padding-right: 50px;
}

.interest__picture{
  width: 50px;
  margin-right: 45px;
}


.toolset{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-evenly;


}

.toolset__container{
  display: flex;
  flex-direction: column;
  width: 33.3%;
  border-left: 2px solid lightgrey;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
 

}

.title__picture{
  width: 30px;

}

.toolset__list{
  padding-left: 0;
}


.experience__pro
{
  margin: auto;
  display: flex;
  width: 100%;
}

.experience__line{
  width: 50%;
  text-align: right;
  padding-right: 50px;
}

.exprience__items, 
.formation__items{
  position: relative; 
  border-left: solid gray 2px;
  padding-left: 200px;
  margin-bottom: 30px;
 
}

.formation__subtitle, .experience__title{
  color:rgb(172, 200, 123);
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  margin-bottom: 0;
}

.experience__title{
  color: rgba(4, 73, 4);
}
.experience__entreprise, .formation__list :first-child{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  color:grey;

}
.formation__list{
  padding: 0;
}


.container__experience__items{
  width: 50%;
}

.exprience__items:before 
{
  position: absolute;
  left: -11px;
  width: 10px;
  height: 10px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-sizing: content-box;
  content: " ";
  background-color: rgba(4, 73, 4, 0.993);
} 

.formation__items:before 
{
  position: absolute;
  left: -11px;
  width: 10px;
  height: 10px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-sizing: content-box;
  content: " ";
  background-color: rgba(210, 228, 179, 0.993);
}


.experience__date, .formation__date{
  position: absolute;
  left: 50px;
} 




.contact__title{
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;

}

#contact__container{
  border-radius: 5px;
  background-color: #4caf4f38;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 400px;

}

.contact__div{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;


}

.contact__informations{
  width: 100%;
  text-align: center;

}



.contact__icone{
  height: 40px;
  padding: 0;

}

.contact__informations--in{
  display: none;
  }

.contact__form{
  margin-right: 10px;
  width: 100%;
  max-width: 900px;
  
}

/* ci-dessous: prévision pour déploiement du formulaire de contact,
 une version  prochaine*/
/* label, input, textarea {
  display: block;
  margin-bottom: 10px;
} */

/* input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

form{
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
} */

input[type="submit"], .contact__download, .mailto {
  background-color: rgba(4, 73, 4);
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover , .contact__download:hover,  .mailto:hover {
  background-color: #45a049;
  font-weight:normal; 
}

@media (max-width: 500px){
  .toolset__container{
    display: flex;
    flex-direction: column;
    width: 100%;
 
  }

  h1, .interest__container h2{
    text-align: center;
   
  }
  
  .top__nav, .right__nav, .header__hello{
    display: none;
  }

  .top__nav {
    flex-direction: column; /* Afficher les éléments du menu en colonne sur les petits écrans */
  }
  .burger{
      display: block; /* Afficher l'icône burger sur les petits écrans */
      cursor: pointer;
      
      
      
  }
  #burger-links {
    display: block;
    
  }

  .header__container{
    width: 100%;
    height:25vh;
    /* background-image:url('bureau-bureau-objets.jpg'); */
    background-size: cover;
    background-position: 20% 60%;
    position: relative;
 
  }

  
  .header__container h1{
    position: absolute;
      bottom: 10px;
    padding-left: 5px;
    font-size: 2.5em;

  }
  .introduction__text{
    line-height: normal;
  }
  
  .introduction__photo{
    display: block;
  }

  .softSkills__list, 
  .interest__lists{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.8em;
  }

  .softSkills__container{
    justify-content: center;
    
  }

  .interest__lists{
    justify-content: center;
    align-items: center;
  }

  .interest__names, .interest__pictures{
    display: flex; 
    justify-content: center;
  }
  .interest__names li{
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .interest__picture{
    margin-right: 15px;
    margin-left: 15px;
  }
  


  #container__skills,
  #container__introduction, 
  #contact__container,
  #interest__container{
    margin: auto;
    padding: 10px;

  }

  .experience__date, .formation__date{
    position: static;
  } 

  .exprience__items, 
  .formation__items{
    padding-left:10px;

  }
 

  .contact__form{
    margin: auto;
  }

  .contact__informations--in{
    display: block;
    }

 
}


@media (min-width: 501px) and (max-width: 900px){

.toolset__container{
  display: flex;
  flex-direction: column;
  width: 50%;
}

h1, .interest__container h2{
  text-align: center;
}

.top__nav, .right__nav, .header__hello{
  display: none;
}

.top__nav {
  flex-direction: column; /* Afficher les éléments du menu en colonne sur les petits écrans */
}

.burger{
    display: block; /* Afficher l'icône burger sur les petits écrans */
    cursor: pointer;
     
}
#burger-links {
  display: block;
 
}

.header__container{
  width: 100%;
  height:40vh;
  background-image:url('bureau-bureau-objets.jpg');
  background-size: cover;
  background-position: 20% 60%;
  position: relative;

}


.header__container h1{
  position: absolute;
    bottom: 10%;
  padding-left: 5px;
  

}


.introduction__photo{
  display: block;
}

.softSkills__container, .interest__container{
  justify-content: center;
}

.softSkills__list, 
.interest__lists,
.interest__pictures{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 10px;
 
}

.interest__lists{
  justify-content: center;
  align-items: center;
}

.interest__names, .interest__pictures{
  display: flex; 
  justify-content: center;
}
.interest__names li{
  padding-right: 20px;
  padding-left: 20px;
}

.interest__picture{
  margin-right: 15px;
  margin-left: 15px;
}


#container__skills,
#container__introduction, 
#contact__container,
#interest__container{
    margin: auto;
    padding: 10px;

  }

.experience__date, .formation__date{
  position: static;
} 

.exprience__items, 
.formation__items{
  padding-left:10px;

}

.contact__form{
  margin: auto;
}

.contact__informations--in{
  display: block;
  }



 
}












